@font-face {
  font-family: "iconfont"; /* Project id 2582769 */
  src: url('iconfont.woff2?t=1622511410204') format('woff2'),
       url('iconfont.woff?t=1622511410204') format('woff'),
       url('iconfont.ttf?t=1622511410204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e61d";
}

.icon-xia:before {
  content: "\e745";
}

.icon-shouyinji:before {
  content: "\e600";
}

.icon-jianji:before {
  content: "\e601";
}

.icon-youshengyin:before {
  content: "\e636";
}

.icon--kehuduan:before {
  content: "\e649";
}

.icon-shangchuan:before {
  content: "\e62d";
}

.icon-zhuboguanli:before {
  content: "\e60e";
}

.icon-chuangzuozhezhongxin:before {
  content: "\e73b";
}

